:root {
	--color-dark-1: #353535; /* global bg, dropdown hover, input bg */
	--color-dark-2: #292929; /* options bg */
	--color-dark-3: #4b4b4b; /* options hover */
	--color-dark-4: #454545; /* sidebar hover */
	--color-dark-5: #303030; /* dropdown button bg  */

	--color-gray-1: #c3c3c3; /* inactive text */
	--color-gray-2: #c2c2c2; /* input label */
	--color-gray-3: #8a8a8a; /* secondary text, outlined text */
	--color-gray-4: #757575; /* profile pic bg */
	--color-gray-5: #626262; /* low contrast */
	--color-gray-6: #6f6f6f; /* input border */
	--color-gray-7: #7a7a7a; /* button secondary text */
	--color-gray-8: #5f5f5f; /* button secondary background */
	--color-gray-9: #525252; /* button secondary hover */
	--color-gray-10: #aeaeae; /* upload file text */

	--color-red-1: #c62f31; /* accent, error, primary button */
	--color-red-2: #8a2122; /* primary button hover */
	--color-red-3: #5c3434; /* dropdown selected */
	--color-red-4: #532828; /* dropdown selected hover */
	--color-red-5: #c63031; /* primary button text */

	--color-white: #ffffff; /* active text, button text */

	--color-red-rgb: 198 48 49; /* for primary button outlines */
	--color-gray-rgb: 118 118 118; /* for secondary button outlines */
}
